{% extends 'base.html' %}

{% block title %}
{{ block.super }} {{ title }}
{% endblock %}

{% block content_fluid %}
    <style>
#myForm {
    border: 1.2px solid mediumslateblue;
    border-top: none;
    padding: 10px;
}
header {
    font-size: 2rem;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    border: 1.2px solid mediumslateblue;
    border-radius: 5px 5px 0px 0px;
    margin-top: 12px;
    padding: 10px;
    background-color: #f8f8ff;
}
    </style>

    {% if spl %}
<div class="row">
        <div class="col-sm-6 offset-sm-3">
        <header align="center">{{ title }}</header>
        <form method="post" id="myForm"> {% csrf_token %}
            {% load crispy_forms_tags %}
            {% include 'bs4_form.html' with form=form1 %}
            {% crispy form2 %}
            <input type="submit" value="Submit" class="btn btn-success">
        </form>
        </div>
</div>
    {% else %}
<div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 offset-sm-3">
        <header align="center">{{ title }}</header>
        <form method="post" id="myForm"> {% csrf_token %}
            {% include 'bs4_form.html' with form=form %}
        <input type="submit" value="Submit" class="btn btn-success">
        </form>
        </div>
</div>
    {% endif %}

{% endblock %}

{% block footer %}
{{ block.super }}
{% endblock %}

{% block add_scripts %}
<script></script>
{% endblock %}